@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="coinId" name="" value="${item.coinId}" underline="true"/>
                            <#input id="price" name="" value="${item.price}" />
                </div>

                <div class="col-sm-6">
                            <#input id="volume" name="" value="${item.volume}" underline="true"/>
                            <#input id="type" name="0 买入 1卖出" value="${item.type}" underline="true"/>
                            <#input id="time" name="" value="${item.time}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OkexDealRecordInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OkexDealRecordInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/order/okexDealRecord/okexDealRecord_info.js"></script>
@}
