@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>数据图表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <center>
                        <div class="col-sm-3">
                            BTC k线图：
                            <a onclick="init(2, 1)">1分</a>
                            <a onclick="init(2, 2)">5分</a>
                            <a onclick="init(2, 3)">30分</a>
                            <a onclick="init(2, 4)">60分</a>
                            <a onclick="init(2, 5)">1天</a>
                        </div>
                        <div class="col-sm-3">
                            ETH k线图：
                            <a onclick="init(3, 1)">1分</a>
                            <a onclick="init(3, 2)">5分</a>
                            <a onclick="init(3, 3)">30分</a>
                            <a onclick="init(3, 4)">60分</a>
                            <a onclick="init(3, 5)">1天</a>
                            <a onclick="detail()">aaaa</a>
                        </div>
                        <div class="col-sm-3">
                            <a onclick="detail(2)">BTC资金分布</a>
                            <a onclick="detail(3)">ETH资金分布</a>
                        </div>
                        </center>
                        <div align="center">
                            <div id="main" style="width: 1000px;height:700px;margin-top: 30px;"></div>
                            <div id="main2" style="width: 1000px;height:700px;margin-top: 30px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/charts/count/count.js"></script>
<script src="${ctxPath}/static/js/echarts.min.js"></script>
@}
