@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-12 b-r">
                            <#input id="name" name="币种名称" underline="true"/>
                            <#input id="symbol" name="币种代码" underline="true"/>
                            <#input id="websiteSlug" name="站点名称" underline="true"/>
                            <#input id="logoUrl" name="币种logo图片地址" underline="true"/>
                            <#input id="urlTransaction" name="获取交易信息" underline="true"/>
                            <#input id="urlAddressInfo" name="获取地址信息（余额）" underline="true"/>
                            <#input id="circulatingSupply" name="流通量"/>
                    <#input id="info" name="简介" underline="true"/>
                    <#input id="editImgUrl" name="编辑头像url" underline="true"/>
                    <#input id="plate" name="板块" underline="true"/>
                    <#input id="editName" name="编辑人" underline="true"/>
                    <#input id="editInfo" name="编辑评语" underline="true"/>
                    <#input id="teamInfo" name="团队介绍" underline="true"/>
                    <#input id="github" name="源码地址"/>
                    <#input id="marketCap" name="市值" underline="true"/>
                    <#input id="volume24h" name="24H成交额" underline="true"/>
                    <#input id="maxSupply" name="发行量" underline="true"/>
                    <#input id="markeyRatio" name="全球市值占比" underline="true"/>
                    <#input id="turnoverRate" name="换手率" underline="true"/>
                    <#input id="circulationRate" name="流通率" underline="true"/>
                    <#input id="reddit" name="reddit" underline="true"/>
                    <#input id="twitter" name="twitter" underline="true"/>
                    <#input id="facebook" name="facebook" underline="true"/>
                    <#input id="website" name="官网" underline="true"/>
                    <#input id="whitePaper" name="白皮书" underline="true"/>
                    <#input id="explorer" name="区块站" underline="true"/>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ManagerInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ManagerInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/coin_info/manager/manager_info.js"></script>
@}
