@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>币种动态信息管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="coin" name="币种名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Manager.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Manager.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ManagerTableToolbar" role="group">
                            @if(shiro.hasPermission("/manager/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Manager.openManagerDetail()" space="true"/>
                            @}
                        </div>
                        <#table id="ManagerTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/coin_info/manager/manager.js"></script>
@}
