@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="coinId" name="" underline="true"/>
                            <#input id="info" name="简介" underline="true"/>
                            <#input id="editImgUrl" name="编辑头像url" underline="true"/>
                            <#input id="plate" name="板块" underline="true"/>
                            <#input id="editName" name="编辑人" underline="true"/>
                            <#input id="editInfo" name="编辑评语" underline="true"/>
                            <#input id="teamInfo" name="团队介绍" underline="true"/>
                            <#input id="github" name="源码地址"/>
                </div>

                <div class="col-sm-6">
                            <#input id="reddit" name="reddit" underline="true"/>
                            <#input id="twitter" name="twitter" underline="true"/>
                            <#input id="facebook" name="facebook" underline="true"/>
                            <#input id="website" name="官网" underline="true"/>
                            <#input id="whitePaper" name="白皮书" underline="true"/>
                            <#input id="explorer" name="区块站" underline="true"/>
                            <#input id="createTime" name="创建时间" underline="true"/>
                            <#input id="updateTime" name="更新时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/coin_info/info/info_info.js"></script>
@}
