@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="coinId" name="" value="${item.coinId}" underline="true"/>
                            <#input id="info" name="简介" value="${item.info}" underline="true"/>
                            <#input id="editImgUrl" name="编辑头像url" value="${item.editImgUrl}" underline="true"/>
                            <#input id="plate" name="板块" value="${item.plate}" underline="true"/>
                            <#input id="editName" name="编辑人" value="${item.editName}" underline="true"/>
                            <#input id="editInfo" name="编辑评语" value="${item.editInfo}" underline="true"/>
                            <#input id="teamInfo" name="团队介绍" value="${item.teamInfo}" underline="true"/>
                            <#input id="github" name="源码地址" value="${item.github}" />
                </div>

                <div class="col-sm-6">
                            <#input id="reddit" name="reddit" value="${item.reddit}" underline="true"/>
                            <#input id="twitter" name="twitter" value="${item.twitter}" underline="true"/>
                            <#input id="facebook" name="facebook" value="${item.facebook}" underline="true"/>
                            <#input id="website" name="官网" value="${item.website}" underline="true"/>
                            <#input id="whitePaper" name="白皮书" value="${item.whitePaper}" underline="true"/>
                            <#input id="explorer" name="区块站" value="${item.explorer}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="InfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="InfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/coin_info/info/info_info.js"></script>
@}
