@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" underline="true"/>
                            <#input id="exchangeId" name="" underline="true"/>
                            <#input id="coin" name="" underline="true"/>
                            <#input id="dayIn" name="流入"/>
                </div>

                <div class="col-sm-6">
                            <#input id="dayOut" name="流出" underline="true"/>
                            <#input id="actual" name="净流入" underline="true"/>
                            <#input id="ratio" name="净流入比" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DayStateInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DayStateInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/dayState/dayState/dayState_info.js"></script>
@}
